# NetBeans
nbproject/private/private.xml
nbproject/private/private.properties

# bo .jar, tru jdbc
*.jar
!src/lib/mssql-jdbc-13.2.1.jre11.jar


# Java compiled
*.class
build/classes/

# OS
Thumbs.db
.DS_Store